body {
    border: none;
    margin: 0;
    height: 100vh;
}

section {
    border: none;
    margin: none;
    background-color: #1b1d21;
    display: flex;
    justify-content: center;
    height: calc(100% - 50px);
}

.container {
    margin-top: 50px;
    width: fit-content;
    max-height: 650px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #e9ecef;
    border-radius: 20px;
    margin: 1px solid;
    padding: 20px;
    gap: 25px;
    box-sizing: border-box !important;
}

.menu-icon {
    width: 25px;
}